
<div class="container">
<div class="row">
  <div class="col-md-8">
    <h3>Facebook Campaign Name</h3>
    <h4>Persnalization :</h4>
    <p><a href>Used</a></p>
    
    <p><b>Host Name: Deanna Smith</b></p>
    <p><b>First Name: merry</b></p> 
    <p><b>Virtual URL:https://www.faceboom.com/54540</b></p> 
    <p><b>Shpoping Url:https://www.amyway.com/Deanna</b></p>
   
  </div>
  <div class="col-md-4">
    <p><a href>Not Used</a></p>
    
      <p><b>Host URL</b></p>
      <p><b>FirstLat Name</b></p>
      <p><b>Event Date</b></p>
      <p><b>Event Time</b></p>
      <p><b>Linked Event</b></p>
    
  </div>
</div>

<div class="row">
  <div class="col-md-3">MESSAGES</div>
  <div class="col-md-3">IMAGES</div>
  <div class="col-md-3">INTERVAL</div>
  <div class="col-md-3">ACTION</div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3"> 
        <ul *ngFor="let i of msg" style="padding-inline-start:3px !important">
          <li style="list-style:none;">{{i.get_fb_msg_snip_fun.msg_description}}</li>
        </ul> 
    </div>
      <div class="col-md-3"><img src="../../../../assets/custom/fbimages/imgone.png" height="60px" width="60px">
        <img src="../../../../assets/custom/fbimages/imgtwo.png" height="60px" width="60px" class="ml-1"></div>
      <div class="col-md-3">15 Minute</div>
      <div class="col-md-3"><a href="">Eidit</a> | <a href="">Delete</a></div>
    </div>
  </div></div>
  <div class="card">
  <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <ul>
          <li>Lorem ipsum dolor sit amet consectetur  .</li>
          <li>Lorem ipsum dolor sit amet consectetur.</li>
          <a href="" style="float: right;">Read More</a>
        </ul></div>
        <div class="col-md-3"><img src="../../../../assets/custom/fbimages/imgone.png" height="60px" width="60px">
          </div>
        <div class="col-md-3">15 Minute</div>
        <div class="col-md-3"><a href="">Eidit</a> | <a href="">Delete</a></div>
      </div>
    </div></div>

    <div class="card">
    <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <ul>
            <li>Lorem ipsum dolor sit amet consectetur.</li>
            <li>Lorem ipsum dolor sit amet consectetur.</li>
            <a href="" style="float: right;">Read More</a>
          </ul></div>
          <div class="col-md-3"><img src="../../../../assets/custom/fbimages/imgone.png" height="60px" width="60px">
            <img src="../../../../assets/custom/fbimages/imgtwo.png" height="60px" width="60px" class="ml-1"></div>
          <div class="col-md-3">15 Minute</div>
          <div class="col-md-3"><a href="">Eidit</a> | <a href="">Delete</a></div>
        </div>
      </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <ul>
            <li>Lorem ipsum dolor sit amet consectetur.</li>
            <li>Lorem ipsum dolor sit amet consectetur.</li>
            <a href="" style="float: right;">Read More</a>
          </ul></div>
          <div class="col-md-3"><img src="../../../../assets/custom/fbimages/imgone.png" height="60px" width="60px">
            <img src="../../../../assets/custom/fbimages/imgtwo.png" height="60px" width="60px" class="ml-1"></div>
          <div class="col-md-3">15 Minute</div>
          <div class="col-md-3"><a href="">Eidit</a> | <a href="">Delete</a></div>
        </div>
      </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <ul>
            <li>Lorem ipsum dolor sit amet consectetur.</li>
            <li>Lorem ipsum dolor sit amet consectetur.</li>
            <a href="" style="float: right;">Read More</a>
          </ul></div>
          <div class="col-md-3"><img src="../../../../assets/custom/fbimages/imgone.png" height="60px" width="60px">
            <img src="../../../../assets/custom/fbimages/imgtwo.png" height="60px" width="60px" class="ml-1"></div>
          <div class="col-md-3">15 Minute</div>
          <div class="col-md-3"><a href="">Eidit</a> | <a href="">Delete</a></div>
        </div>
      </div>
</div>
<h4 class="text-center">Drag press to re order in the Campaign </h4>
<div class="row">
  <div class="col-md-6">
    
    <div class="form-group">
        <label for="sel1"> Save to Library</label>
        <select class="form-control" id="sel1" name="sellist1">
          
          <option></option>
        
        </select>
</div>

  </div>
  <div class="col-md-6">
    <button class="btn btn-info">schedule</button>
  </div>
</div>
</div>
