
<div class="container">
<div class="row">
    <h4>Typeof Post you would like to Schedule?</h4>
   <div class="col-10 mt-2">
      <button class="cbtn top" [routerLink]="['/directseller/facebookpost']"> 
        <img class="customimg" src="assets/custom/images/singlepost.png"> 
        Singlepost
      </button>
      <div class="mt-1">
        <button class="cbtn" [routerLink]="['/directseller/seriespost']"> 
          <img class="customimg" src="assets/custom/images/seriespost.png">  Series of post</button></div> 
     </div>

</div>
</div>