<div class="row">
    <div class="col-md-1 col-sm-2">
   <h3><a routerLink="#" class="back">&lt;Back</a> </h3>
   </div>
   <div class="col-md-11 col-sm-10"></div>
</div>

<div class="container">

<div class="row">
  <div class="col-md-5">
  
     <h3>Add a persnal touch to your campaign</h3>
  


<div class="card">
    <div class="card-body">
<h3>Pernsonal message to </h3>
<h4 class="mt-3"><b>Dinna Smitt</b></h4>
<p>customer</p>
<div class="row mt-2"><div class="col-md-6">enter Pernsonal messages</div><div class="col-md-6 text-right">0 of 100</div></div>

<textarea class="form-control" rows="5"  id="comment"></textarea>
<div class="row mt-5">
  <div class="col-md-6"><button type="button" class="btn btn-outline-info" style="padding: 10px;">Cancel</button></div>
  <div class="col-md-6"><button  type="button" class="btn btn-info " style="padding: 10px;">Send</button></div></div>

</div>
</div>
     
    </div>
  
  <div class="col-md-7"></div>

</div>
</div>