<div class="row text-center">
        <div class="col col-lg-offset-1 col-md-offset-1 col-sm-12 col-md-6 col-lg-6">
                <h2>Confirm your campaign to Deanna</h2>
                <div class="card">
                        <div class="card-header">                                                   
                        </div>
                        <div class="card-content">
                          <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-lg-4">
                                    <img src="/assets/custom/images/bodywash.png" />
                                </div>
                                <div class="col-sm-6 col-md-6">
                                   <h4> G & H Nourish Body Wash </h4>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <a routerLink="/directseller/personalMessage">Edit</a>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <img src="/assets/custom/images/bodywash.png" />
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <h5>Brunch & Bling</h5>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                        <a routerLink="/directseller/personalMessage">Edit</a>
                                    </div>

                            </div>
                              
                          </div>
                        </div>
                        <div class="card-footer">                                
                                <button class="btn btn-margo-action btn-round" (click)="showSuccess(success)">Confirm</button>
                        </div>
                      </div>
        </div>
    </div>
    <ng-template #success>
            <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" routerLink="/directseller/themesList">
                    <div class="text-center">
                        <img src="/assets/custom/images/margologo250.png" />
                    </div>
                    <h3>Campaign Launched to Deanna!</h3>
                  </div>
                  <div class="modal-footer text-center">                    
                  </div>
    </ng-template>