<h3><a routerLink="">Back</a></h3>
<div class="container">
    <h3>Search for a Host </h3>
    <div class="row">
        
        <div class="col-xl-6 col-lg-6 mt-1">
        <div class="card">
            <div class="card-header">
             <a href="" >Add New Host</a>
             <a href="" style="float: right;">Bookmarks</a>
             <div class="form-group position-relative has-icon-left" style="margin-top:15px">
                <input type="text" class="form-control form-control-sm input-sm " id="iconLeft6"
                  placeholder="Search">
                <div class="form-control-position">
                  <i class="icon-magnifier danger font-small-3"></i>
                </div>
              </div>
          </div>
          </div>
          <div class="card">
            <div class="card-header">
                <div class="card-content mt-1">
                    <div class="table-responsive" fxFlex="auto" >
                        <table class="table border_bottom table-hover">
                          
                          <tbody>
                              <tr>
                                  <!-- <th scope="row" class="border-top-0"></th> -->
                                  <td class="border-top-0">Jennifer Seasns</td>
                                </tr>
                               <tr class="border-top-0">
                                  <td class="border-top-0">Peter Segger</td>
                               </tr>
                               <tr class="border-top-0">
                                  <td class="border-top-0">Brooke Skanton</td>
                               </tr>
                               <tr class="border-top-0">
                                  <td class="border-top-0">Deanna Smith</td>
                               </tr>
                               <tr class="border-top-0">
                                  <td class="border-top-0">George Sneede</td>
                               </tr>
                          </tbody>
                        </table>
                      </div>
                </div>
            </div>
            
          </div>

        </div>
        <div class="col-xl-6 col-lg-6 mt-1 container">
          <div class="card">
              <div class="card-header">
             <h3 class="para">Contact Quick View</h3>
             <h5><b>Deanna Smith</b></h5>
             <h6>Host</h6>
             <div class="row">
               <div class="col-6">
                <h6 class="mt-2">Email</h6>
              </div>
              <div class="col-6">
                <h6 class="mt-2">d.smith@amway.com</h6>
              </div>
             </div>
             <div class="row">
                <div class="col-6">
                 <h6 class="mt-2">Phone</h6>
               </div>
               <div class="col-6">
                 <h6 class="mt-2"><span style="color:#1F98A3 ;">(917)-555-1212</span></h6>
               </div>
              </div>
              <div class="row">
                  <div class="col-6">
                   <h6 class="mt-2">Address</h6>
                 </div>
                 <div class="col-6">
                   <h6 class="mt-2">123 Main St.</h6>
                 </div>
                </div>
                <div class="row">
                  <div class="col-6">
                      <button type="button" class="custbtns">More Info</button>
                  </div>
                  <div class="col-6">
                      <button type="button" class="custbtn" [routerLink]="['/directseller/hosted']">Select</button>
                  </div>
                </div>
             </div>
             
          </div>
        </div>
</div>


</div>    