         <div class="col-xl-6 col-lg-12">
              <h3>Search for a contact </h3>
            </div>  
              <div class="col-xl-6 col-lg-12">
                  <div class="card">
                    <div class="card-header">
                     <a href="" >Add New Contact</a>
                     <a href="" style="float: right;">Back To contacts</a>
                     <div class="form-group position-relative has-icon-left" style="margin-top:15px">
                        <input type="text" class="form-control form-control-sm input-sm " id="iconLeft6"
                          placeholder="Search">
                        <div class="form-control-position">
                          <i class="icon-magnifier danger font-small-3"></i>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
               
                <div class="col-xl-6 col-lg-12">
                    <h6>Bookmarks</h6>
                    <div class="card">
                      <div class="card-header">
                          <div class="card-content mt-1">
                              <div class="table-responsive" fxFlex="auto">
                                  <table class="table border_bottom table-hover">
                                    <!-- <thead>
                                      <tr>
                                        
                                      </tr>
                                    </thead> -->
                                    <tbody>
                                        <tr>
                                            <!-- <th scope="row" class="border-top-0"></th> -->
                                            <td class="border-top-0">Carol Dennis</td>
                                          </tr>
                                         <tr class="border-top-0">
                                            <td class="border-top-0">Jen Segger</td>
                                         </tr>
                                         <tr class="border-top-0">
                                            <td class="border-top-0">Ter Ullen</td>
                                         </tr>
                                         <tr class="border-top-0">
                                            <td class="border-top-0">Pat Washington</td>
                                         </tr>
                                         
                                         <!-- <tr class="border-top-0"></tr>
                                         <tr class="border-top-0">Ter Ullen</tr> -->
                                         <!-- <tr class="border-top-0"> Pat Washington</tr> -->
                                    </tbody>
                                  </table>
                                </div>
                          </div>
                      </div>
                      
                    </div>
                  </div>
