<div class="row">
        <div class="col-sm-12 col-md-6">
          <h2>Contact Information:</h2>
          <div class="">
                    <span>Deanaa Smith</span>
                    <a >EDIT CONTACT</a>
                </div>
                <p>PROSPECT</p>
          <div class="row">
            <div class="col-sm-6">
                <p>Email</p>
            </div>
            <div class="col-sm-6">
                <p>d.smithy@gmail.com</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                   <p> Phone </p>
            </div>
            <div class="col-sm-6">
                <p>(917)-555-1212 </p>
            </div>
          </div>
          <div class="row">
                <div class="col-sm-6">
                    <p>    Address</p>
                </div>
                <div class="col-sm-6">
                    <p>123 Mainstreet,
                    Railegh Nc, zip: 1234234</p>
                </div>
              </div>
              <div class="row">
                    <div class="col-sm-6">
                        <p>    Facebook </p>
                    </div>
                    <div class="col-sm-6">
                      <p>  123 Mainstreet,
                        Railegh Nc, zip: 1234234 </p>
                    </div>
                  </div>
                  <div class="row">
                        <div class="col-sm-6">
                            <p>    Twitter </p>
                        </div>
                        <div class="col-sm-6">
                          <p>  123 Mainstreet,
                            Railegh Nc, zip: 1234234 </p>
                        </div>
                      </div>
                      <div class="row text-center top">
                          <div class="col-sm-12 col-md-12">
                              <button class="btn btn-round btn-margo-action "  routerLink="/directseller/propspectLanding" >Select</button>
                          </div>
                        </div>
            
        </div>
        <div class="col-sm-12 col-md-6 margo-border-left">   
          <section>
              <h4>Map</h4>
              <div> Map view</div>
          </section>
        </div>
      
      </div>