.margin-left-5{
  margin-left: 5px;
}
.formstyle{
  border: 2px solid #ccc;
 border-radius: 4px;
}
.formstyle:hover{
  border :2px solid rgb(141, 71, 125);
  border-radius: 4px;
}
.formstyle{
  width:100%;
<<<<<<< HEAD
  /* margin:auto; */
=======
  margin:auto;
>>>>>>> 6d546429cbcdc6cd68288aa7c60635edfbdcf19c
  /* margin-left: 126px; */
  /* text-align: center; */
}
.custbtn {
<<<<<<< HEAD
  border-radius: 25px;
  border: 1px solid #009FAE;
  background-color: #009FAE;
  /* padding:5px; */
=======
  border-radius: 30px;
  border: 1px solid #009FAE;
  background-color: #009FAE;
  padding:5px;
>>>>>>> 6d546429cbcdc6cd68288aa7c60635edfbdcf19c
  /* float: right; */
  
  width: 100px;
  color:white;
}
.forgt {
  text-align: right;
<<<<<<< HEAD
  /* padding-top: 1rem; */
=======
  padding-top: 1rem;
>>>>>>> 6d546429cbcdc6cd68288aa7c60635edfbdcf19c
}
img {
  width: 70%;
}


.card-link{
  color: #2e9cab;
}


@media only screen and (max-width: 767px) {
  img {
    width: 100%;
  }
}
body{
<<<<<<< HEAD
  position: relative;
  height: 100%;
=======
>>>>>>> 6d546429cbcdc6cd68288aa7c60635edfbdcf19c
  background-image: linear-gradient(#fcfcfc, #d6dbde) !important
}
.displaynone{
  display: none;
}
.displayblock{
  display: block;
<<<<<<< HEAD
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
} 

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}








=======
}
>>>>>>> 6d546429cbcdc6cd68288aa7c60635edfbdcf19c
