<h3><a [routerLink]="['/directseller/getsocial']">&lt;BACK</a></h3>
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header">
      <h3 >Hosted Events</h3>
      <h6 class="mt-2" style="margin-bottom:0px ;"><span style="font-weight:bold;font-size: 20px;">Deanna Smith</span>&nbsp;<sub><a
            href="">EDIT CONTACT</a></sub></h6>
      <h6>HOST</h6>
    </div>
    <br>
    <div class="content-body">
      <div class="row">
        <div class="col-md-8">
          <div class="card pull-up">
            <div class="card-body">
              <div class="title"><b>Hosted Campaigns</b></div>
              <table class="table table-borderless table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Event Name</td>
                    <td>02/15/19</td>
                    <td>7:00 PM</td>
                    <td>In-person</td>
                  </tr>
                  <tr>
                    <td>Event Name</td>
                    <td>02/15/19</td>
                    <td>6:30 PM</td>
                    <td>Virtual</td>
                  </tr>
                  <tr>
                    <td>Event Name</td>
                    <td>11/05/20</td>
                    <td>7:00 PM</td>
                    <td>In-person & Virtual</td>
                  </tr>
                  <tr>
                    <td>Event Name</td>
                    <td>11/05/20</td>
                    <td>6:30 PM</td>
                    <td>Virtual</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

