

<div class="container">

<div class="row">
  <h3>Customize Your Facebook Post</h3>
</div>
<div class="row">
  <div class="col-md-6">
      <div class="row"> 
      <div class="col-md-6"><img src={{post_screenshot}}></div>
      <div class="col-md-6">
        <h3>{{post_name}}</h3>
       <div><a href="">click imagesto</a></div>
       <div><a href="">View Post</a></div>
      </div></div>

      <div class="row mt-2">
          <div class="col-md-12"><h4>Message
          <a href="" style="float: right;"><i class='fas fa-comment-alt info'></i>Add Message Snippet</a> </h4></div>
          </div>
          <div class="row mt-1">
            <div class="card" style="width: 100%;">
            <textarea name="" id=""  rows="5"></textarea>
          </div>  
       </div>
    
          
              <div class="form-group">
                  <label for="sel1"><h4>Persnalization Field</h4></label>
                  <select class="form-control" id="sel1" name="sellist1">
                    <option>  your event shopping link </option>
                    <option>your host forst name</option>
                    <option>your business name</option>
                    <option>your full name</option>
                    <option>your first name</option>
                    <option>event start date</option>
                    <option>event start time</option>
                    <option>event time zone</option>
                  
                  </select>
         </div>
          

          <div class="form-group">
              <label for="sel1"><h4>Posted Url:</h4></label>
              <select class="form-control" id="sel1" name="sellist1">
               
                <option>Website Link</option>
                <option>Album Link</option>
                <option>Video Link</option>
                
              
              </select>
     </div>

     <div class="row">
       <div class="col-md-12"><h4>Add new Post</h4></div>
       </div>
       <div class="row">
          <div class="col-md-6"><img src="/assets/custom/fbimages/imgfour.png" style="height: 200px;"></div>
          <div class="col-md-6"><img src="/assets/custom/fbimages/imgfive.png" style="height: 200px;"></div>

          </div>
          <div class="row">
              <div class="col-md-6"><img src="/assets/custom/fbimages/imgtwo.png" style="height: 200px;"></div>
              <div class="col-md-6"><button class="btn btn-info">Canva</button></div>
    
              </div>

              <div class="form-group mt-1">
                  <h4><label for="sel1">Sava To Library </label> <a href="" style="float: right;">Edit Category</a></h4>
                  <select class="form-control" id="sel1" name="sellist1">
                   
                    <option>Website Link</option>
                    <option>Album Link</option>
                    <option>Video Link</option>
                    
                  
                  </select>
         </div>

         <button class="btn btn-info mx-auto d-block">Schedule</button>
    

  </div>
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <div class="card overflow-auto p-1" style="height:350px">
     
    <h2>Message snippet</h2>
    <a href=""> Message snippet</a>
    <h3><a href="">Greetings</a></h3>
    <ul *ngFor="let msg of msgVal" style="padding-inline-start:3px !important">
      <li style="list-style:none;">{{msg.get_fb_msg_snip_fun.msg_description}}</li>
    </ul>
    <h3><a href="">Invite</a></h3>
    <ul *ngFor="let msg of msgVal" style="padding-inline-start:3px !important">
      <li style="list-style: none;">{{msg.get_fb_msg_snip_fun.msg_description}}</li>
    </ul>
  
  </div>
  </div>
  <div class="col-md-2"></div>
</div>

</div>
