<div class="row">
    <div class="col-md-1 col-sm-2">
   <h3><a routerLink="#" class="back">&lt;Back</a> </h3>
   </div>
   <div class="col-md-11 col-sm-10"></div>
</div>

<div class="container">

<div class="row">
  
     <h3>Customize Your Facebook Post</h3>
  
</div>
<div class="row">
  <div class="col-md-6">
      <div class="row">
      <div class="col-md-6"><img src="/assets/custom/fbimages/imgtwo.png" style="height: 200px;"></div>
      <div class="col-md-6">
        <h3>Girls Nightout</h3>
       <div><a href="">Multiple Post</a></div>
       <div><a href="">Multiple Post</a></div>
      </div></div>

      <div class="row">
          <div class="col-md-6">Message</div>
          <div class="col-md-6"><a href="">Add Message Snippet</a></div>
          </div>
          <div class="row">
              <textarea class="form-control" rows="5"  id="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam officia quos accusantium nisi quod? Facere perferendis repellat culpa laudantium eius, consectetur saepe maxime nulla! Vero architecto esse assumenda doloremque maxime.</textarea>
          </div>
          
              <div class="form-group">
                  <label for="sel1">Persnalization Field</label>
                  <select class="form-control" id="sel1" name="sellist1">
                    <option>  your event shopping link </option>
                    <option>your host forst name</option>
                    <option>your business name</option>
                    <option>your full name</option>
                    <option>your first name</option>
                    <option>event start date</option>
                    <option>event start time</option>
                    <option>event time zone</option>
                  
                  </select>
         </div>
          

          <div class="form-group">
              <label for="sel1">Posted Url:</label>
              <select class="form-control" id="sel1" name="sellist1">
               
                <option>Website Link</option>
                <option>Album Link</option>
                <option>Video Link</option>
                
              
              </select>
     </div>

     <div class="row">
       <div class="col-md-12">Add new Post</div>
       </div>
       <div class="row">
          <div class="col-md-6"><img src="/assets/custom/fbimages/imgfour.png" style="height: 200px;"></div>
          <div class="col-md-6"><img src="/assets/custom/fbimages/imgfive.png" style="height: 200px;"></div>

          </div>
          <div class="row">
              <div class="col-md-6"><img src="/assets/custom/fbimages/imgtwo.png" style="height: 200px;"></div>
              <div class="col-md-6"><button class="btn btn-info">Canva</button></div>
    
              </div>

              <div class="form-group">
                  <label for="sel1">Sava To Library </label> <a href="" style="float: right;">Edit Category</a>
                  <select class="form-control" id="sel1" name="sellist1">
                   
                    <option>Website Link</option>
                    <option>Album Link</option>
                    <option>Video Link</option>
                    
                  
                  </select>
         </div>

         <button class="btn btn-info trxt-center">Schedule</button>
    

  </div>
  <div class="col-md-1"></div>
  <div class="col-md-3" style="background-color: white; height: 600px;">
    <h2>Message snippet</h2>
    <a href="">Message snippet</a>
    <h3><a href="">Greetings</a></h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam at, porro reprehenderit  minus natus!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam at, porro reprehenderit  minus natus!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam at, porro reprehenderit  minus natus!</p>
    <h3><a href="">Invite</a></h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam at, porro reprehenderit  minus natus!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam at, porro reprehenderit  minus natus!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam at, porro reprehenderit  minus natus!</p>
  </div>
  <div class="col-md-2"></div>
</div>

</div>
