<div  class="container" style="background-color: gray; opacity: 0.7;">
<div class="row p-5">
  <div class="col-md-4"></div>
  <div class="col-md-4 text-center">
  <div class="card"><div class="card-body"><h1>Heads Up!</h1>
    <p>This Post is NOT Using Any <a href="">Dynamic Content</a> </p>
    <p>You may want to  take look at <a href=""> How To Add Dynamic Content</a> to create more persnolized post.</p>
    <button class="btn btn-primary mt-4">Got It</button>
    </div></div></div>
  
  
  <div class="col-md-4"></div>

</div>
</div>