



<div class="row">
  <div class="col-md-6"><div class="card">
      <div class="card-body">
      
      <div class="month">      
        <ul>
          <li class="prev primary" style="color: black;">&#10094;</li>
          <li class="next primary" style="color: black;">&#10095;</li>
          <li class="info" style="color: black;">
            may
            
          </li>
        </ul>
      </div>
      
      <ul class="weekdays">
          <li>Sun</li>
        <li>Mon</li>
        <li>Tus</li>
        <li>Wed</li>
        <li>Thu</li>
        <li>Fri</li>
        <li>Sat</li>
        
      </ul>
      
      <ul class="days">  
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li><span class="active">10</span></li>
        <li>11</li>
        <li>12</li>
        <li>13</li>
        <li>14</li>
        <li>15</li>
        <li>16</li>
        <li>17</li>
        <li>18</li>
        <li>19</li>
        <li>20</li>
        <li>21</li>
        <li>22</li>
        <li>23</li>
        <li>24</li>
        <li>25</li>
        <li>26</li>
        <li>27</li>
        <li>28</li>
        <li>29</li>
        <li>30</li>
        <li>31</li>
      </ul>
      </div>
      </div></div>
  <div class="col-md-3">
      <div class="form-group">
          <label for="">Time </label>
    
      <div>
         <button type="button" class="btn btn-outline-dark btn-lg pl-3 pr-3 mr-1">7:15</button>
          <button type="button" class="btn btn-outline-info btn-lg mr-1">AM</button>
          <button type="button" class="btn btn-info btn-lg">PM</button>   
      
        </div>
      </div>
    

    <!-- <p>Time Zone</p> -->
    <div class="form-group">
        <label for="">Time Zone</label>
        <select class="form-control" id="" name="">
          <option>EST</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
        </div>

    <!-- <p>Where To Post(Group Of Post)</p> -->
    <div class="form-group">
        <label for="">Where To Post(Group Of Post)</label>
        <select class="form-control" id="" name="">
          <option></option>
          <option></option>
          <option></option>
          <option></option>
        </select>
        </div>


  </div>
  <div class="col-md-3"></div>
</div>

<div class="row">
  <div class="col-md-6 text-center"><button class="btn btn-info">Schedule</button></div>
  <div class="col-md-6"></div>
       
    
  </div>
