
<div class="align-middle">
    <h3>Deanna Smith</h3>
    <h6>PROSPECT</h6>
    <br/>
    <h2>What's next for Deanna?</h2>
    <div>
        <button routerLink="/directseller/searchProduct" class="top cbtn"><img class="customimg" src="assets/custom/images/11.png" /> Shop</button><br/>
        <button routerLink="/directseller/hostThemes" class="top cbtn"><img class="customimg" src="assets/custom/images/12.png" /> Host</button><br/>
        <button routerLink="/directseller/joinThemes" class="top cbtn"><img class="customimg" src="assets/custom/images/13.png" /> Join</button><br/>
    </div>

</div>