
    
     
                <div class="row" >
                    <div class="col-md-10" >
                            <h3>Replenishment Campaign  <span class="fa fa-info-circle" aria-hidden="true"></span></h3>
                            <span  class="fa fa-shopping-cart">
                            <a href="" >PURCHASE ALL CAMPAIGNS</a></span>
                         
                         
                            <div class="row mt-2">
                              <div class="col-12 col-md-4">
                                <m-card >
                                  <ng-container mCardBody>
                                      <div class="row" mCardBody>
                                          <div class="col-6 col-sm-5">
                                              <img src="assets/custom/images/xs.png">
                                          </div>
                                          <div class="col-6 col-sm-7">
                                            <p>Campaign-xs Energy Drinks</p>
                                            <p>Customers:<b>15</b></p>
                                            <p>Price:<b>$1.00</b></p>
                                          </div> 
                                          <div class="container addtocart">
                                              <a href="">Click To Remove</a>
                                             <input type="button" class="custbtn" value="Add to Cart">
                                         </div>
                                        </div>
                                  </ng-container>
                                </m-card>
                              </div>
                              <div class="col-12 col-md-4" >
                                <m-card >
                                  <ng-container mCardBody>
                                      <div class="row" mCardBody>
                                          <div class="col-6 col-sm-5">
                                              <img src="assets/custom/images/haircare.png">
                                          </div>
                                          <div class="col-6 col-sm-7">
                                            <p>Campaign-Satinique Hair Care</p>
                                            <p>Customers:<b>33</b></p>
                                            <p>Price:<b>$2.00</b></p>
                                          </div> 
                                          <div class="container addtocart">
                                              <a href="">Click To Remove</a>
                                             <input type="button" class="custbtn" value="Add to Cart">
                                         </div>
                                        </div>
                                  </ng-container>
                                </m-card>
                              </div>
                              
                            </div>
                          
                            <!--/ Emails Products & Avg Deals -->
                            
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                      <m-card >
                                        <ng-container mCardBody>
                                            <div class="row" mCardBody>
                                                <div class="col-6 col-sm-5">
                                                    <img src="../../assets/custom/images/skincare.png">
                                                </div>
                                                <div class="col-6 col-sm-7">
                                                  <p >Campaign-Skincare System</p>
                                                  <p>Customers:<b>12</b></p>
                                                  <p>Price:<b>$1.00</b></p>
                                                </div> 
                                                <div class="container addtocart" >
                                                      <a href="">Click To Remove</a>
                                                   <input type="button" class="custbtn" value="Add to Cart">
                                               </div>
                                              </div>
                                        </ng-container>
                                      </m-card>
                                    </div>
                                    <div class="col-12 col-md-4" >
                                      <m-card >
                                        <ng-container mCardBody>
                                            <div class="row" mCardBody>
                                                <div class="col-6 col-sm-5">
                                                    <img src="../../assets/custom/images/suppliments.png">
                                                </div>
                                                <div class="col-6 col-sm-7">
                                                  <p>Campaign-NutriliteSuppliments</p>
                                                  <p>Customers:<b>47</b></p>
                                                  <p>Price:<b>$2.75</b></p>
                                                </div>
                                              </div>
                                              <div class="container addtocart">
                                                  <a href="">Click To Remove</a>
                                                 <input type="button" class="custbtn" value="Add to Cart">
                                             </div>
                                        </ng-container>
                                      </m-card>
                                    </div>
                                    
                                  </div>
                            
                            
                            
                    </div>
                   
                </div>
                
        
        
            <div class="row">
               <div class="col-6">
                   <b>Total:</b> <b>$6.25</b>
                   <h6>Total Customers Reached<span>101</span></h6>
               </div>
               <div class="col-6" style="float:right">
                   <button type="button" class="btn btn-warning round  ">Confirm Your Order</button>
               </div>
            </div>
       

