<h2>Add a personal touch to your campaign</h2>
<div class="row text-center top">
        <div class="col col-lg-offset-1 col-md-offset-1 col-sm-12 col-md-7 col-lg-7">                
                <div class="card">
                        <div class="card-header">                
                            <div class="form-group">
                              <h3>Personal message to</h3>
                              <h4><b>Deanna Smith</b></h4>
                            </div>
                        </div>
                        <div class="card-content">
                          <div class="card-body">                              
                              <h6>PROSPECT</h6>
                            <label>Enter personal message</label>
                            <textarea class="form-control" rows="6">
    
                            </textarea>
                              
                          </div>
                        </div>
                        <div class="card-footer">
                                <button class="btn btn-margo-cancel btn-round">Cancel</button>
                                <button class="btn btn-margo-action btn-round" routerLink="/directseller/confirmCampaign">Send</button>
                        </div>
                      </div>
        </div>
    </div>