<div class="row">
    <div class="col-md-1 col-sm-2">
   <h3><a routerLink="#" class="back">&lt;Back</a> </h3>
   </div>
   <div class="col-md-11 col-sm-10"></div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="card">
        <div class="card-body">
          <h3>Message Snippets</h3>
          <a href="">ADD MESSAGE SNIPPET</a>
          <div class="row mt-3">TOUCH OR CLICK TO EDIT </div>
          <hr>
          <a href=""><b>Snippets</b></a>
          
          
          <div class="row mt-1">
            <div class="col-md-10">Hello first-name ,hope you are doing well </div>
            <div class="col-md-2"><span class="fa fa-trash info text-right"></span></div>
            </div>

            <div class="row mt-1">
                <div class="col-md-10">Hey first-name ,i wanted to get touch as soon as possible</div>
                <div class="col-md-2"><span class="fa fa-trash info text-right"></span></div>
                </div>

                <div class="row mt-1">
                    <div class="col-md-10">Dear first-name ,it was great to meet you today </div>
                    <div class="col-md-2"><span class="fa fa-trash info text-right"></span></div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-md-10">I wanted to Invite you an event on Date its going to be great</div>
                        <div class="col-md-2"><span class="fa fa-trash info text-right"></span></div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-md-10">We've BIG event coming on coming up on Date</div>
                            <div class="col-md-2"><span class="fa fa-trash info text-right"></span></div>
                            </div>
        

    



        </div>
      </div>
    </div>
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <h3>Add Snippet</h3>
             
                <div class="row"><div class="col-md-4">
                  <label for="name">name snipet:</label></div>
                   <div class="col-md-5"><input type="email" id="name" name="name"></div></div>
                
                    
                    
                  <hr>
                  <div class="row mt-1"><h3><a href="">Enter Message Snippet </a></h3></div>
                  
       <textarea class="form-control mt-3" rows="5"  id="comment">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non atque omnis dolorum exercitationem quas, est expedita, amet culpa enim ea tempora reiciendis reprehenderit ratione ipsum quis. Inventore eligendi consectetur voluptates.</textarea>
       <button class="btn btn-info mt-5 mx-auto d-block">Save</button>


                



            </div>
          </div>
    </div>
  </div>
  </div>
