
<div class="container">
<div *ngIf="loggedIn===true">
  <img [src]="user.photoUrl" alt="My Facebook Photo">
 
  <p>{{user.firstName}} {{user.lastName}}</p> 
 </div>
<h3>Let's get social, how can we help?</h3>
   <div class="top"><button class="cbtn top"   [routerLink]="['/directseller/typeofpost']"> <img class="customimg" src="assets/custom/images/14.png"> Schedule</button></div>
   <div class="top"><button class="cbtn"> <img class="customimg" src="assets/custom/images/15.png"> Create & Edit</button></div> 
   <div class="top"><button class="cbtn"> <img class="customimg" src="assets/custom/images/16.png"> View Calender</button></div>
   <div class="top"><button class="cbtn" (click)="signInWithFB()"> <img class="customimg" src="assets/custom/images/17.png">  Connect </button></div>
   <div class="top"><button class="cbtn" (click)="signOut()" > <img class="customimg" src="assets/custom/images/17.png"> disconnect</button></div>
  </div>

 
 




        
            
             
                

    


     
      
         