
<div class="container">
  <h2>Link To Your Facebook Accounts?</h2>
  <div class="card">
    <div class="card-body">
      <div class="text-center mt-5">
      <img src="../../../../assets/custom/fbimages/imgseven.png" height="100px" width="100px">
      <img src="../../../../assets/custom/fbimages/imgeight.png" height="100px" width="100px">
    </div>
    <p class="mt-3">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi harum molestias fugiat incidunt ab dicta facere libero ut earum aperiam sequi rem, odit facilis illum provident dolorum. Odio, eius in.
    </p>
    <p class="text-center primary ">
        <i class="fa fa-edit primary"></i>  Choose what you allow
    </p>
    <div class="text-right"><button class="btn btn-outline-dark" style="margin: 5px;">Cancel</button> <button class="btn btn-primary" style="margin: 5px;">Ok</button></div>

    </div>
  </div>
</div>