<div class="container">
 <div class="row">
  <div class="col-md-8"><h3 (click)="campaignData()">Select a facebook campaign</h3>
    <div class="card"><div class="form-group p-1">
      <input type="text" class="form-control" placeholder="Search">
    </div></div>
  </div>
  <div class="col-md-4">
      <p>Library View:</p><br>
      <button class="btn btn-info">Personal</button> &nbsp; &nbsp; &nbsp;
      <button class="btn btn-outline-dark" style="color:black;">Corporate</button><br>
      <button class="btn  mt-1" style="width:60%; background-color:#007bff !important; color:white" (click)="CampaignImagesData(myPostId)">Next</button>
  </div>
</div>



<div class="row">
 <h3><a [routerLink]="['/directseller/fbcampaignname']">Create New capaign</a></h3> 
</div>
<div class="card-deck " *ngFor = "let item of catPostObj">
    <h3>{{item.category_name}}</h3>
    <div class="col-md-3" *ngFor = "let subItem of item['data']">
  <div class="card" style="height:300px;width:100%" >
  <div class="row">
    <input type="checkbox" style="display:none" id="myCheckboxone-{{subItem.post_id}}"><label for="myCheckboxone-{{subItem.post_id}}">
        <img src="{{subItem.post_screenshot}}" style="height: 200px;" (click)="imgDeatiledData(subItem.post_id)"></label>
      <div class="col-md-12"><b>{{subItem.post_name}}</b></div>
      <div class="col-md-12">{{subItem.createdon}}</div>
      <div class="col-md-12"><a href="#">Edit</a> | <a href="#">Delete</a></div>
    </div>
   </div>
  </div>
  </div>

</div>
<!-- <app-fbcampaignname [Id_data]="myValue"></app-fbcampaignname> -->



