


<div class="container">
<div class="row">
    <div class="col-md-7"><div class="card">
        <div class="card-body">
        
        <div class="month">      
          <ul>
            <li class="prev primary" style="color: black;">&#10094;</li>
            <li class="next primary" style="color: black;">&#10095;</li>
            <li class="info" style="color: black;">
              may
              
            </li>
          </ul>
        </div>
        
        <ul class="weekdays">
            <li>Sun</li>
          <li>Mon</li>
          <li>Tus</li>
          <li>Wed</li>
          <li>Thu</li>
          <li>Fri</li>
          <li>Sat</li>
          
        </ul>
        
        <ul class="days">  
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
          <li>7</li>
          <li>8</li>
          <li>9</li>
          <li><span class="active">10</span></li>
          <li>11</li>
          <li>12</li>
          <li>13</li>
          <li>14</li>
          <li>15</li>
          <li>16</li>
          <li>17</li>
          <li>18</li>
          <li>19</li>
          <li>20</li>
          <li><span class="red"></span>21</li>
          <li>22</li>
          <li>23</li>
          <li>24</li>
          <li>25</li>
          <li>26</li>
          <li>27</li>
          <li>28</li>
          <li>29</li>
          <li>30</li>
          <li>31</li>
        </ul>


        </div>
        </div>

        <h3>Upcoming Events</h3>
        <p><a href=""><b>Beauty Bash</b></a></p>
        <p>May 4th, 7:30 pm EST</p>

        <p><a href=""><b>Girls Nightout</b></a></p>
        <p>May 9th, 7:15 pm PST</p>

        <p><a href=""><b>Drinks And Martinis</b></a></p>
        <p>May 12th, 8 pm EST</p>
      
      </div>
    <div class="col-md-5">
      <div class="card">
         
        <div class="card-body">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
          <h3>Calender Quick View</h3>
          <h4 class="mt-2"><b>Adult Coloring</b> <a href="">Edit Event</a></h4>
          <h4 class="mt-1">May 18</h4>
            <h4>7:30 PM EST</h4>
            <p class="mt-1">We could have more info for the event</p>
            <p>Here more info aswell</p>
            <button class="btn btn-info mx-auto d-block mt-3">View</button>
        </div>
      </div>
        </div>
      </div>
       
  
  
    </div>
   
      
    </div>
  </div>
  