<div class="container">
<h3>We have Sucessfully found your Facebook Account!</h3>


<p>please confirm thet information below matches the account you want to connect to and that the visibibility settings are set correctly</p>
<div><img src="../../../../assets/custom/fbimages/imgseven.png" height="100px" width="100px">
  <span style="padding-left: 20px; padding-right: 20px;">Johnny Appleseed </span> <a href="">Not You?</a> </div>



<p class="mt-5">One more thing... The marGo Facebook app visibility must be set to public in order for posts to be delivered.Click <a href="">here</a> to change your setting</p>

<div class="card" style="width:50%">
    <div class="card-header"><img src="../../../../assets/custom/fbimages/imgeight.png" height="50px" width="50px"> <button style="float: right;">X</button></div>
    <div class="card-body"><h4><b>Business integrations visibility</b></h4>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita officiis repellat sit totam molestiae magnam eligendi porro facere ea.<a href="">Learn more</a> </p>
  <h4>THIS BUSINESS INTEGRATION CAN</h4>
  <H4><b>Post content into your group on your behalf</b> <i class="fa fa-toggle-on info" style="font-size:20px;float:right;" ></i></H4>
  <p>Groups <i class="fa fa-check-square info" style="font-size:20px;float:right;"></i></p>
  <hr>
  <p>Groups <i class="fa fa-check-square info" style="font-size:20px;float:right;"></i></p>
  <p>Groups <i class="fa fa-check-square info" style="font-size:20px;float:right;"></i></p>
  <p>Groups <i class="fa fa-check-square info" style="font-size:20px;float:right;"></i></p>
  <a href="">See all groups</a>
  <H4><b>Authored posts and comments in groups</b></H4>
  <p>can see which post and contents you have shared in these groups. <i class="fa fa-toggle-on info" style="font-size:20px;float:right;" ></i> </p>
  <p><b>groups</b> <i class="fa fa-check-square info" style="font-size:20px;float:right;"></i></p>
  

</div> 
    <div class="card-footer">Terms Privacy policy review Business reports business integrations review Business
       <span style="float: right;"><i class="fa fa-long-arrow-right danger mr-1" style="font-size: 50px;"></i><button class="btn btn-primary" >Save</button></span> 
    </div>
    
  </div>

<div class="row">
    <div class="col-md-8 text-right">
      <button class="btn btn-outline-info mr-2"> Cancel</button><button class="btn btn-info">Confirm</button>
    </div>
  </div>

</div>
